[Unit]
Description=QEMU virtual machine for git.openelectronicslab.org
After=network.target

[Service]
ExecStart=/var/images/start-qemu-git-openelectronicslab.sh
ExecStop=/var/images/stop-qemu-git-openelectronicslab.sh
Restart=always

[Install]
WantedBy=multi-user.target
